.md-editor {
  --md-scrollbar-bg-color: var(--secondary-color) !important;
  --md-color: var(--text-color) !important;
  --md-hover-color: var(--text-color) !important;
  --md-bk-color: var(--primary-color) !important;
  --md-bk-color-outstand: var(--primary-color) !important;
  --md-bk-hover-color: var(--primary-color) !important;
  --md-border-color: var(--secondary-color) !important;
  --md-border-hover-color: var(--secondary-color) !important;
  --md-border-active-color: var(--secondary-color) !important;
  --md-scrollbar-thumb-color: var(--text-color) !important;
  --md-scrollbar-thumb-hover-color: var(--text-color) !important;
  --md-scrollbar-thumb-active-color: var(--text-color) !important;
  --md-theme-border-color: var(--secondary-color) !important;
}
.custom-preview.detail .md-editor-preview-wrapper {
  padding: 0 !important;
}
.md-editor-preview {
  --md-theme-heading-color: var(--text-color) !important;
  line-height: 1.6 !important;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    border-bottom: none !important;
    margin-top: 1em !important;
    margin-bottom: 0.5em !important;
    padding-bottom: 0 !important;
  }
  h1 {
    font-size: 1.75em !important;
  }
  h2 {
    font-size: 1.5em !important;
  }
  h3 {
    font-size: 1.25em !important;
  }
  h4 {
    font-size: 1em !important;
  }
  h5 {
    font-size: 0.875em !important;
  }
  h6 {
    font-size: 0.75em !important;
  }
  hr {
    margin: 1em 0 !important;
    --md-theme-border-color: var(--secondary-color) !important;
  }
  :not(pre) > code {
    font-size: 0.85em !important;
    word-break: keep-all;
    border-radius: 0.2em !important;
    margin-right: 0.15em !important;
  }
  blockquote {
    --md-theme-quote-border: 0.25em solid var(--accent-color) !important;
  }

  ul > li {
    list-style: disc;
    > ul > li {
      list-style: circle;
      > ul > li {
        list-style: square;
      }
    }
  }
  ol > li {
    list-style: decimal;
    > ol > li {
      list-style: lower-alpha;
      > ol > li {
        list-style: lower-roman;
      }
    }
  }
}
.md-editor-preview ul.contains-task-list {
  padding-left: 1em;
}
.md-editor-preview ol .task-list-item,
.md-editor-preview ul .task-list-item {
  padding-left: 0.5em;
  input {
    transform: translateY(0.1em);
  }
}
.md-editor-preview ol,
.md-editor-preview ul {
  padding-left: 1em;
}
svg.md-editor-icon {
  width: 1.5em;
  height: 1.5em;
}

.md-editor-preview-wrapper {
  overflow: hidden !important;
}
.md-editor div.github-theme {
  --md-theme-code-inline-color: var(--code-text-color) !important;
}

@media (max-width: 1024px) {
  .md-editor-preview {
    font-size: 14px;
  }

  .md-editor-preview .md-editor-code pre code {
    font-size: 0.8em;
  }
  .md-editor-preview .md-editor-code .md-editor-code-head {
    font-size: 0.7em;
  }
  .md-editor-preview ul.contains-task-list {
    padding-left: 1.5em;
  }
  .md-editor-preview ol .task-list-item,
  .md-editor-preview ul .task-list-item {
    padding-left: 0em;
    input {
      width: 1em;
      height: 1em;
      transform: translateY(0.2em);
    }
  }
}
